/* mobile design */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    background: hsl(0, 0%, 98%) ;
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.nav-group{
    display: none;
    min-width: 250px;
    position: absolute;
    background: hsl(0, 0%, 98%) ;
    right: 0;
    left: auto;
    top: 0;
    padding: 20px 25px 0;
    height: 215vw;
    color: hsl(0, 0%, 41%) ;
    box-shadow: -150px 0 100px rgba(0, 0, 0, 0.4);
}


.icon-close-menu{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 25px;
}

.menu{
    margin-bottom: 30px;
}


.menu ul li:not(:last-child){
    margin-bottom: 20px;
}

.menu ul li a{
    color: hsl(0, 0%, 53%);
    font-weight: 500 ;
    font-size: 16px;
}

.arrow-down{
    margin-left: 15px;
    cursor: pointer;
}

.arrow-up{
    display: none;
    margin-left: 15px;
    cursor: pointer;
}


.sublist{
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 25px;
}

.features-sublist, .company-sublist{
    display: none;
}

.features-sublist.active{
    display: block;
}

.company-sublist.active{
    display: block;
}

.features-sublist li span img{
    margin-right: 15px;
}

.link-action a{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: hsl(0, 0%, 53%);
    font-weight: 500 ;
    font-size: 15px;
}

.register{
    border: 2px solid hsl(0, 0%, 53%);
    width: 100%;
    padding: 15px 10px;
    border-radius: 12px;
}

.img-hero{
    width: 100%;
    margin-bottom: 40px;
}

.hero-mobile{
    width: 100%;
}

.hero-desktop{
    display: none;
}


.title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: hsl(0, 0%, 8%);
    margin-bottom: 25px;
}

.description{
    color: hsl(0, 0%, 53%);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 30px;
}

.more{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: hsl(0, 0%, 98%);
    background: hsl(0, 0%, 8%);
    padding: 15px 18px;
    font-size: 18px;
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    border: solid 1px transparent;
    border-radius: 12px;
    margin-bottom: 50px;
}

.partner-logo{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.partner-logo img{
    width: 70px;
    height: 20px;
}

.partner-logo :not(:first-child){
    width: 60px;
    height: 20px;
}

.attribution{
    margin-bottom: 50px;
}
/* Responsive design */

@media only screen and (min-width: 650px){

    .nav-group{
        padding: 20px 50px 0;
        height: 160vw;
        box-shadow: -150px 0 600px rgba(0, 0, 0, 0.6);
    }

    .img-hero{
        margin-bottom: 60px;
    }

    .title{
        font-size: 45px;
    }

    .text{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .partner-logo img{
        width: 80px;
        height: 25px;
    }
}

@media screen and (min-width: 900px) {
    .header{
        display: flex;
    }

    .icon-menu{
        display: none;
    }

    .icon-close-menu{
        display: none;
    }

    .nav-group{
        background: transparent;
        position: static;
        box-shadow: 0 0 0 ;
        display:  flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: auto;
        height: auto;
        padding: 10px 20px 0;
        width: 100%;
        align-items: center;
    }

    .menu{
        display: flex;
        justify-self: flex-start;
        align-items: center;
        margin-bottom: 0;
    }

    .menu ul li{
        display: inline-block;
    }

    .menu ul li:not(:last-child){
        margin-right: 25px;
    }

    .features-sublist{
        position: absolute;
        background: hsl(0, 0%, 98%);
        border: solid 1px transparent;
        border-radius: 12px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2),
                    -1px -1px 20px rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin: 10px 0 0 0;
        transform: translateX(-60px);
    }

    ul.features-sublist li{
        display: block;
    }

    .company-sublist{
        position: absolute;
        background: hsl(0, 0%, 98%);
        border: solid 1px transparent;
        border-radius: 12px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2),
                    -1px -1px 20px rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin: 15px 0 0 0;
    }

    ul.company-sublist li{
        display: block;
    }

    .link-action{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .login{
        margin-right: 20px;
    }

    .register{
        padding: 8px 10px;
    }

    .arrow-down{
        margin-left: 5px;
    }
    
    .arrow-up{
        display: none;
        margin-left: 5px;
    }

    .title{
        font-size: 55px;
    }

    .text{
        width: 600px;
    }

    .more{
        margin-bottom: 70px;
    }

    .attribution{
        margin-bottom: 80px;
    }
}

@media screen and (min-width:1000px){
    .header{
        padding: 20px 40px 30px;
    }

    .main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    .img-hero{
        width: 50%;
        align-items: center;
    }

    .hero-mobile{
        display: none;
    }

    .hero-desktop{
        display: block;
        width: 100%;
    }

    .text{
        width: 45%;
        padding-top: 150px;
    }

    .title{
        text-align: left;
        margin-bottom: 35px;
    }

    .description{
        text-align: left;
        margin-bottom: 50px;
    }

    .more{
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 100px;
    }

    .partner-logo{
        justify-content: space-between;
    }

    .partner-logo img{
        width: 80px;
        height: 30px;
    }

    .partner-logo :not(:first-child){
        width: 80px;
        height: 30px;
    }
}

@media screen and (min-width:1200px){
    .header{
        padding: 20px 40px 40px;
    }

    .main{
        max-width: 1000px;
        margin-bottom: 100px;
    }

    .img-hero{
        width: 45%;
        align-items: center;
    }

    .text{
        width: 45%;
        padding-top: 110px;
    }

    .title{
        text-align: left;
        margin-bottom: 45px;
        font-size: 68px;
    }

    .description{
        width: 90%;
    }

    .partner-logo img{
        width: 90px;
        height: 35px;
    }

    .partner-logo :not(:first-child){
        width: 90px;
        height: 35px;
    }
}

@media screen and (min-width:1300px){
    .header{
        padding: 20px 40px 40px;
    }

    .nav-group{
        margin-left: 50px;
    }

    .main{
        max-width: 1100px;
        margin-bottom: 100px;
    }

    .img-hero{
        width: 40%;
        align-items: center;
    }

    .text{
        width: 45%;
        padding-top: 90px;
    }


    .title{
        text-align: left;
        margin-bottom: 45px;
        font-size: 75px;
    }
}

/* @media screen and (min-width:1400px){

    .nav-group{
        margin-left: 100px;
    }

    .main{
        max-width: 1200px;
        margin-bottom: 100px;
    }

    .img-hero{
        width: 40%;
        align-items: center;
    }
    .text{
        width: 45%;
        padding-top: 120px;
    }


    .title{
        text-align: left;
        width: 94%;
        font-size: 75px;
    }

    .partner-logo img{
        width: 90px;
        height: 35px;
    }
} */